*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body {
    font-weight: 100;
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(68, 68, 68);
}
.container {
    margin: 0 auto;
    background-color: rgb(68, 68, 68);
    color: white;
    height: 70px;
}

.row { 
    display:flex;
    flex-wrap: wrap;
    height: 60px;
}
/*Esto es para el foto e icono primero*/
.column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    background-color: rgba(32,44,51,255);
    border: 1px solid rgb(68, 68, 68);
    padding: 10px;
}
.icon-wp i{
    width: 40px;
}
.icon-wp i:hover{
    transform: scale(1.2, 1.2);
    background-color: rgba(134, 20, 20, 0);
    color: white;
    border: none;
}
.col-3 {
    max-width: calc(100% / 12 * 3.2);
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.column p{
    padding-right: 500px;
}
/*hasta aqui*/
/**/
.container-f {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 90vh;
    display: flex;
    border: 1px solid black;
  }

  .container-left {
    flex: 1.16;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #293b46;
    overflow-y: scroll;  
  }

  .seccion {
    border: 0.1px solid rgb(68, 68, 68);
    flex: 1;
    padding: 10px;
    background-color: rgba(16,27,32,255); 
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around; 
    
}
.seccion img {
    width: 50px;
    height: 50px;
    border-radius: 40px;    
}
  .seccion h4, .seccion h5 {
    text-align: left;
    margin: 10px 0;
  }
  .seccion-search input{
    text-align: center;
    border-radius: 100px;
    height: 20px;
    width: 250px;
  }

  .container-right {
    border: 0.1px solid rgb(68, 68, 68);
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: rgba(16,27,32,255); 
  }

  .seccion-right-1 {
    flex: 4; /* Ocupa el espacio de 4 secciones del contenedor izquierdo */
    padding: 10px;
    background-image: url(./img/fondo.png);
    overflow-y: auto;
  }
  .sms {
    margin-bottom: 16px;
    max-width: 70%;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    word-wrap: break-word;
  }

  .sms-received {
    background-color: rgba(0,169,133,255);
    margin-left: 700px;
    color: white;
  }
  .sms-sent {
    background-color: rgba(16,27,32,255);
    margin-right: 700px;
    color: white;
  }

  .seccion-right-2 {
    border: 0.1px solid rgb(68, 68, 68);;
    flex: -1; /* Ocupa el espacio de 1 sección del contenedor izquierdo */
    padding: 15px;
    background-color: rgba(32,44,51,255); /* Ajusta el color de la segunda sección derecha según tu preferencia */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  .seccion-right-2 input{
    border: 0.1px solid black;
    color: white;
    border-radius: 100px;
    width: 800px;
    height: 30px;
    background-color: #374d5a;

  }
  .seccion-right-2 i{
    color: #7d8a95;
  }
  .seccion-right-2 i:hover{
    transform: scale(1.2, 1.2);
    background-color: rgba(134, 20, 20, 0);
    color: black;
    border: none;
}
/**/

@media screen and (max-width: 768px) {
.container {
    overflow: auto;
    }
        .column {
        min-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}
/* Barra de desplazamiento horizontal */
::-webkit-scrollbar {
  width: 6px;
  background-color: #292828;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d55;
  border-radius: 4px;
}

/* Barra de desplazamiento vertical */
::-webkit-scrollbar {
  height: 6px;
  background-color: #292828;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d55;
  border-radius: 4px;
}